// Color
$primary   : #B7EA43;
$secondary : #131921 !default;
$success   : #159E42 !default;
$info      : #4cb1ff !default;
$warning   : #E54F4F !default;
$danger    : #FF0000 !default;
$light     : #F2F2F2 !default;
$dark      : #2f2f2f;

// Body
$body-bg   	  : #F0F0F0;
$body-bg2  	  : #FFF;
$body-color	  : #000000;
$d-border	  : #C9C9C9;
$border		  : #E2E2E2;
$border2	  : #E0E0E0;
$box-shadow   : 0px 0 40px 0 rgba(0, 0, 0, 0.10); //Box Shadow =====

// Typography
$font-family-base		: "Unbounded", sans-serif;
$font-family-sub-title	: "Lufga", sans-serif;
$font-family-title 		: "Unbounded", sans-serif;
$headings-font-weight	: 600;

// $headings-font-family:        $fm;
$font-size-base         : 0.875rem !default; //(14px)
$font-weight-base       : 500 !default;

$line-height-base    	: 1.6;
$h1-font-size           : 2.5rem;	//(40px)
$h2-font-size           : 1.75rem;	//(28px)
$h3-font-size           : 1.5rem;	//(24px)
$h4-font-size           : 1.25rem;	//(20px)
$h5-font-size           : 1.125rem;	//(18px)
$h6-font-size           : 1rem;		//(16px)

$text-muted  : #666666;
$text-accent : #69708A;
$text-light  : rgba(34, 34, 34, 0.60);
$text-light2  : #D9D9D9;
$text-color  : #8ABE12;
$colors      : () !default;


$grid-gutter-width   : 30px;
$dropdown-lik-color  : $body-color;
$headings-color      : #222222 !default;
$grid-breakpoints    : (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440);
$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1024px) !default;

$input-btn-focus-width: 0rem !default;

// Other Color
$orange  : #ff8853;
$skyblue : #00aeff;
$maroon  : #9e0168;
$yellow  : #FFA902;
$pink    : #ff0081;
$red     : #ff586e;
$green   : #84CA93;
$blue    : #5543d1;
$purple  : #A183E0;
$grey    : #E8EFF3;

// Color Opacity
$primary-light	: rgba($primary,0.1);
$secondary-light: rgba($secondary,0.1);
$success-light	: rgba($success,0.1);
$warning-light	: rgba($warning,0.1);
$danger-light	: rgba($danger,0.1);
$info-light		: rgba($info,0.1);
$dark-light		: rgba($dark,0.1);
$white-light	: rgba($light,0.1);
$yellow-light	: rgba($yellow,0.1);

/////////////////////////
// Light
/////////////////////////
$primary-light	: lighten($primary, 50%);
$secondary-light: lighten($secondary, 50%);
$success-light	: lighten($success, 35%);
$warning-light	: lighten($warning, 35%);
$danger-light	: lighten($danger, 35%);
$info-light		: lighten($info, 30%);
$dark-light		: lighten($dark, 50%);

/////////////////////////
// Opacity 
/////////////////////////
$primary-opacity	: rgba($primary, 0.1);
$secondary-opacity	: rgba($secondary, 0.5);
$success-opacity	: rgba($success, 0.1);
$warning-opacity	: rgba($warning, 0.1);
$danger-opacity		: rgba($danger, 0.15);
$info-opacity		: rgba($info, 0.1);
$dark-opacity		: rgba($dark, 0.35);

// border radius
$radius-xl	: 20px !default;
$radius-md	: 15px !default;
$radius		: 10px !default;
$radius-sm	: 8px !default;


// RTL Change Value
$ic-right: r;
$ic-left: l;

$ic-pos-right: right;
$ic-pos-left: left;
$ic-tx: -50%;


///////////////////
// Social Colors
///////////////////

$facebook	: #305CCD;
$twitter	: #1da1f2;
$youtube	: #FF0000;
$google-plus: #db4439;
$linkedin	: #007bb6;
$instagram	: #c32aa3;
$pinterest	: #bd081c;
$google		: #4285f4;
$snapchat	: #fffc00;
$whatsapp	: #25d366;
$tumblr		: #35465d;
$reddit		: #ff4500;
$spotify	: #1ed760;
$yahoo		: #430297;
$dribbble	: #ea4c89;
$skype		: #00aff0;
$quora		: #aa2200;
$riverBed	: #4C585C;
$vimeo		: #1ab7ea;

$theme-color: (
	facebook	: $facebook,
	twitter		: #1da1f2,
	youtube		: #FF0000,
	google-plus : #db4439,
	linkedin	: #007bb6,
	instagram	: #c32aa3,
	pinterest	: #bd081c,
	google		: #4285f4,
	snapchat	: #fffc00,
	whatsapp	: #25d366,
	tumblr		: #35465d,
	reddit		: #ff4500,
	spotify		: #1ed760,
	yahoo		: #430297,
	dribbble	: #ea4c89,
	skype		: #00aff0,
	quora		: #aa2200,
	riverBed	: #4C585C,
	vimeo		: #1ab7ea,
);
:root{
	--primary			: #{$primary};
	--primary-hover		: #{darken($primary, 30)};
	--primary-dark		: #{darken($primary, 30)};
	--secondary			: #{$secondary};
	--secondary-light	: #{$secondary-light};
	--rgba-primary-1	: #{rgba($primary, 0.1)};
	--rgba-primary-2	: #{rgba($primary, 0.2)};
	--rgba-primary-3	: #{rgba($primary, 0.3)};
	--rgba-primary-4	: #{rgba($primary, 0.4)};
	--rgba-primary-5	: #{rgba($primary, 0.5)};
	--rgba-primary-6	: #{rgba($primary, 0.6)};
	--rgba-primary-7	: #{rgba($primary, 0.7)};
	--rgba-primary-8	: #{rgba($primary, 0.8)};
	--rgba-primary-9	: #{rgba($primary, 0.9)};
	--font-family-title	: #{$font-family-title};
	--font-family-sub-title	: #{$font-family-sub-title};
	--font-family-base	: #{$font-family-base};
	--box-shadow	    : #{$box-shadow};
	--border-radius-xl  : #{$radius-xl};
	--border-radius-md  : #{$radius-md};
	--border-radius     : #{$radius};
	--border-radius-sm	: #{$radius-sm};
	--border-color		: #{$border};
	--border-color-2	: #{$border2};
	--body-bg			: #{$body-bg};
	--body-bg2			: #{$body-bg2};
	--body-color		: #{$body-color};
	--dark				: #{$dark};
	--bg-white			: #FFF;
	--title				: #{$headings-color};
	--card-bg			: #fff;
	--theme-text-color  : #fff;
	--light				: #{$light};
	--bg-light			: #{$light};
	--text-accent		: #{$text-accent};
	--text-muted		: #{$text-muted};
	--text-light		: #{$text-light};
	--text-light2		: #{$text-light2};
	--text-color		: #{$text-color};
	--input-bg			: #EBF4F0;
}