*{
    outline: none;
    padding: 0;

    &::after {
        margin : 0;
        padding: 0;
    }

    &::before {
        margin : 0;
        padding: 0;
    }
}

// Selection
::selection {
	color: $white;
	background:var(--primary);
}
body {
    line-height: 1.4;
	color:$body-color;
	font-size: $font-size-base;
    font-weight: 400;
	font-family: var(--font-family-base);
	background-color: var(--body-bg);
    &.fixed {
        overflow: hidden;
        position: fixed;
    }
}

.body-bg2{
	background-color: var(--body-bg2);
}
// Headings Style
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family:var(--font-family-title);
	font-weight:$headings-font-weight;
	color:var(--title);
    a{
        color: var(--title);
    }
}
.sub-title{
	font-family:var(--font-family-sub-title);
}
.title-head{
	font-family:var(--font-family-title);
}

h1{
	font-size:$h1-font-size;
}
h2{
	font-size:$h2-font-size;
}
h3{
	font-size:$h3-font-size;
}
h4{
	font-size:$h4-font-size;
}
h5{
	font-size:$h5-font-size;
}
h6{
	font-size:$h6-font-size;
}

p{
    font-size: $font-size-base;
    font-weight: 400;
}

ul {
    padding: 0;
    margin : 0;
}
img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    outline        : none;
	color          : var(--body-color);	
	@include transitionMedium;	
    &:hover,
    &:focus,
    &.active {
        text-decoration: none;
        outline        : none;
		color:var(--primary-hover);
    }
}

// color
.text-primary{
	color:var(--primary) !important; 	
}
.text-secondary {
    color: var(--secondary) !important;
}
.border-top{
    border-top: 1px solid var(--border-color)!important;
}
.border-bottom{
    border-bottom: 1px solid var(--border-color)!important;
}
.border-left{
    border-left: 1px solid var(--border-color)!important;
}
.border-right{
    border-right: 1px solid var(--border-color)!important;
}
.bg-primary {
    background-color: var(--primary) !important;
}

.text-black{
	color: #071c35 !important;
}
.container {
    max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
b,
strong,
.strong {
    font-weight: 500;
}

.h-0 {
    height: 0!important;
}
#main-wrapper{
    opacity       : 0;
    transition    : all 0.25s ease-in;
    overflow      : hidden;
    position      : relative;
    z-index       : 1;
    margin-top    : 60px;

    &.show {
        opacity: 1;
    }
}
.bg-gray{
	background-color: #f0f6ff;
}
    
// Section Specing
.content-inner{
    padding-top:50px;
    padding-bottom:50px;
}
.content-inner-1{
	padding-top:100px;
	padding-bottom:100px;
}
.content-inner-2{
	padding-top:120px;
	padding-bottom:0;
}

html{
	scrollbar-width: none;
}
::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

small, .small{
    font-size: 0.75rem;
    font-weight: 400;
	display: block;
	line-height: 1.2;
}
.text-light{
	color: rgba(0, 0, 0, 0.5)!important;
}

.title{
    color: var(--title);
	font-family: var(--font-family-title);
	font-weight: 500;
}


//OVERLAY===

.bg-overlay-1{
	background: rgba(40, 176, 206, 0.85);	
}
.bg-overlay-2{
	background: rgba(20, 171, 135, 0.85);
}
.bg-overlay-3{
	background: rgba(161, 49, 173, 0.85);
}

.saprater {
    border-bottom: 6px solid var(--border-color);
    margin: 0 -15px;
}


svg{
	&.text-primary{
		path{
			fill: var(--primary);
		}
	}
	&.text-dark{
		path{
			fill: var(--title);
		}
	}
}
.theme-dark{
	svg.text-dark{
		path{
			fill: #fff;
		}
	}
}

// Setion Head ===
.section-head{
	padding: 30px 0; 
	.title{
		text-transform: capitalize;
		margin-bottom: 5px;
	}
	p{
		text-transform: capitalize;
		margin-bottom: 0;
		font-size: 15px;
	}
	
}

.page-content{
	&.space-top{
		padding-top: var(--headheight);
	}
}

.flex-1{
    flex:1;
}

.text-underline{
    text-decoration: underline !important;
    text-underline-offset: 3px;
}
.light-text{
    color: $body-color;
    font-size: 0.875rem;
    font-weight: 400;
}

.ic-media,
.ic-post-media {
    position: relative;
	overflow: hidden;
	img{
		max-width: 100%;
		height: auto;
		width:100%;
	}
}
// FIXED WRAPPER ==
.fixed-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.fixed-full-area{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// Fix box ===

.ic-fix-box{
	margin: 0;
    position: fixed;
    top: 80px;
    left: 50%;
    width: 100%;
    max-width: 600px;
    z-index: 8;
    background-color: var(--body-bg);
    transform: translateX(-50%);
    padding: 15px;
}

.bg-light{
	background-color: var(--bg-light)!important;
}

html, 
body {
    height: 100%;
}

.full-height{
	height: 100%;
	display: flex;
	flex-direction: column;
	.page-content{
		flex:1;
		.container{
			height: 100%;
		}
	}
}

.ic-flex-box{
	display: flex;
	flex-direction: column;
	height: 100%;
}