<div class="overflow-auto">
  <div class="page-wrapper">
    @if(showSpinner){
    <app-spinner />
    }
    <!-- Header -->
    <header class="header header-fixed style-1">
      <div class="header-content">
        <div class="left-content">
          <a
          (click)="back()"
            class="back-btn ic-icon icon-sm"
            tabindex="-1"
          >
            <i class="feather icon-arrow-left"></i>
          </a>
        </div>
        <div class="mid-content"><h5 class="title">Pagar servicio</h5></div>
      </div>
    </header>
    <!-- Header -->
    <main class="page-content space-top p-b80">
      <div class="container px-2">
        <div class="card style-2">
          		<div class="offcanvas-body p-2">	
				<div class="card style-2 mb-4 shadow">
					<div class="card-body">
						<ul class="ic-bank-list">
							<li>
								<a  class="ic-media bank-style">
									<img src="../../../assets/imagenes/bancos/banco BNC (2).png" alt="">
								</a>
							</li>
							<li>
								<a  class="ic-media bank-style">
									<img src="../../../assets/imagenes/bancos/bbva.jpg" alt="">
								</a>
							</li>
							<li>
								<a  class="ic-media bank-style">
									<img src="../../../assets/imagenes/bancos/mercantil.png" alt="">
								</a>
							</li>
							<li>
								<a  class="ic-media bank-style">
									<img src="../../../assets/imagenes/bancos/Banco exterior.png" alt="">
								</a>
							</li>
							<li>
								<a  class="ic-media bank-style">
									<img src="../../../assets/imagenes/bancos/Banco caroni.png" alt="">
								</a>
							</li>
							<li>
								<a  class="ic-media bank-style">
									<img src="../../../../assets/imagenes/bancos/bancrecer.png" alt="">
								</a>
							</li>
							<li>
								<a  class="ic-media bank-style">
									<img src="../../../assets/imagenes/bancos/bfc.png" alt="">
								</a>
							</li>
							<li>
								<a  class="ic-media bank-style">
									<img src="../../../assets/imagenes/bancos/sur.jpeg" alt="">
								</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
        </div>

<div class="col-12">
     <div class="card-body">
      	<div class="ic-box style-2 rounded-md border-info">
				<div class="view-cart">
					<ul>
						<li>
							<span class="name text-area-font">Producto</span>
							<span class="about">R.C.V Auto</span>
						</li>
						<li>
							<span class="name text-area-font">Total a pagar</span>
							<span class="about">   BS {{this.ultimaCotizacion.resultado.primaTotal.bs}} / $ {{this.ultimaCotizacion.resultado.primaTotal.dolar}} </span>
						</li>
					</ul>
				</div>	
			</div>
     </div>
</div>



        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
          <div class="card style-2">
            <div class="card-header">
              <h5 class="card-title">Detalles del pago</h5>
            </div>
            <div class="card-body">
              <div class="m-b15 input-group input-lg input-rounded">
                <select
                  [ngClass]="{'invalid-input': bank_codeControl.invalid && (bank_codeControl.dirty || bank_codeControl.touched)}"
                  id="bank_code"
                  class="form-control"
                  name="bank_code"
                  title="Seleccione Banco Emisor"
                  formControlName="bank_code"
                >
                  <option [value]="''">Seleccione el Banco Emisor</option>
                  @for(bank of banks; track $index) {
                  <option [value]="bank.Code">
                    {{ '(' + bank.Code + ') ' + bank.Name}}
                  </option>
                  }
                </select>
              </div>
              <div
                class="m-b20 input-group input-lg input-group-icon input-rounded"
              >
                <div class="input-group-text">
                  <div class="input-icon">
                    <svg
                      width="28"
                      height="28"
                      viewBox="0 0 28 28"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="14" cy="9.33334" r="4.66667" fill="black" />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M14 15.1667C9.68579 15.1667 6.1529 18.0341 5.85386 21.6668C5.83121 21.942 6.05722 22.1667 6.33336 22.1667H21.6667C21.9428 22.1667 22.1688 21.942 22.1462 21.6668C21.8472 18.0341 18.3143 15.1667 14 15.1667Z"
                        fill="black"
                        fill-opacity="0.25"
                      />
                    </svg>
                  </div>
                </div>
                <div>
                  <select
                    [ngClass]="{'invalid-input': document_prefixControl.invalid && (document_prefixControl.dirty || document_prefixControl.touched)}"
                    id="document_prefix"
                    name="document_prefix"
                    formControlName="document_prefix"
                  >
                    <option value="V">V</option>
                    <option value="E">E</option>
                    <option value="J">J</option>
                  </select>
                </div>
                <input
                  [ngClass]="{'invalid-input': idenifyControl.invalid && (idenifyControl.dirty || idenifyControl.touched)}"
                  type="text"
                  inputmode="numeric"
                  id="identification"
                  class="form-control"
                  placeholder="Cédula de identidad"
                  formControlName="identification"
                  mask="separator.2"
                  thousandSeparator="."
                />
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <select
                  class="form-control"
                  id="paymentType"
                  name="paymentType"
                  (change)="SetIsPagoMovil($event.target)"
                  value="true"
                >
                  <option [value]="true">Pago Móvil</option>
                  <option [value]="false">Transferencia</option>
                </select>
              </div>
              @if (isPagoMovil) {
              <div
                class="m-b20 input-group input-lg input-group-icon input-rounded"
              >
                <div class="input-group-text">
                  <div class="input-icon">
                    <svg
                      width="28"
                      height="28"
                      viewBox="0 0 28 28"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.17962 4.48705L7.45956 4.20711C7.85008 3.81658 8.48325 3.81658 8.87377 4.20711L12.1262 7.45956C12.5168 7.85008 12.5168 8.48325 12.1262 8.87377L10.817 10.183C10.6277 10.3723 10.5808 10.6615 10.7005 10.901C12.0849 13.6699 14.3301 15.9151 17.099 17.2995C17.3385 17.4192 17.6277 17.3723 17.817 17.183L19.1262 15.8738C19.5168 15.4832 20.1499 15.4832 20.5404 15.8738L23.7929 19.1262C24.1834 19.5168 24.1834 20.1499 23.7929 20.5404L23.513 20.8204C21.4016 22.9317 18.059 23.1693 15.6703 21.3777L13.1286 19.4714C11.385 18.1638 9.83622 16.615 8.52857 14.8714L6.62226 12.3297C4.83072 9.94096 5.06827 6.5984 7.17962 4.48705Z"
                        fill="black"
                        fill-opacity="0.25"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M23.7929 20.5404C24.1834 20.1499 24.1834 19.5168 23.7929 19.1262L20.5404 15.8738C20.5402 15.8735 20.5399 15.8733 20.5397 15.873C20.1491 15.4832 19.5165 15.4835 19.1262 15.8738L18.0833 16.9167L22.6813 21.5146C22.9745 21.3118 23.253 21.0803 23.513 20.8204L23.7929 20.5404ZM11.0833 9.91667L12.1262 8.87377C12.5166 8.48339 12.5167 7.85054 12.1266 7.45998C12.1265 7.45984 12.1264 7.4597 12.1262 7.45956L8.87377 4.20711C8.87372 4.20706 8.87368 4.20701 8.87363 4.20697C8.48327 3.81676 7.8506 3.81663 7.46008 4.20658C7.45991 4.20676 7.45973 4.20693 7.45956 4.20711L7.17962 4.48705C7.17928 4.48739 7.17894 4.48773 7.1786 4.48807C6.9191 4.74769 6.68792 5.02592 6.48535 5.31869L11.0833 9.91667Z"
                        fill="black"
                      />
                    </svg>
                  </div>
                </div>
                <input
                  [ngClass]="{'invalid-input': phoneControl.invalid && (phoneControl.dirty || phoneControl.touched)}"
                  type="tel"
                  id="phone"
                  inputmode="numeric"
                  class="form-control"
                  placeholder="Teléfono"
                  formControlName="phone"
                  prefix="+58 "
                  mask="(000) 000-0000"
                />
              </div>
              }@else {
              <div class="form-item mb-2 input-rounded input-lg">
                <input
                  [ngClass]="{'invalid-input': account_numberControl.invalid && (account_numberControl.dirty || account_numberControl.touched)}"
                  type="number"
                  class="form-control"
                  placeholder="Número de cuenta"
                  autocomplete="off"
                  required=""
                  formControlName="account_number"
                />
              </div>
              }
                 <button type="button" class="btn btn-lg btn-thin btn-primary text-dark w-100 rounded-xl text-dark" 
        (click)="onSubmit()">Registrar pago</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>

<div class="toast-container" id="toastContainer"></div>
