<ion-content>
  <div class="body">
    <div class="container">
      <img src="../../../../assets/images/logo_polizaqui.jpeg" alt="PolizaAqui Logo">
      <h1>{{ title }}</h1>
      <form [formGroup]="formForgot" (ngSubmit)="Submit()">
          <input type="email" class="input-field" placeholder="Correo electrónico" formControlName="email">
          @if(ShowLoading){
              <app-spinner />
          }
          <button type="submit" class="button">Enviar</button>
      </form>
      <p class="message">Introduce tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
  </div>
  <footer>
      <p>&copy; 2024 PolizAqui. Todos los derechos reservados. <a href="term-policy-dev">Términos y Condiciones</a></p>
  </footer>
  </div>
  </ion-content>