// PULL DATA ===
.pull_delete {
    position: relative;
    //min-width: calc(100% + 90px) !important;
    &.active{
        background: var(--bg-white);
    }
}

.pull_delete.trans {
    transition: all 0.4s;
}

.pull_delete .pd_btn {
    display: flex !important;
    position: absolute !important;
    right: -75px !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 65px !important;
    font-size: 24px !important;
    background: var(--primary) !important;
    color: var(--title) !important;
    text-align: center !important;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-md);
}

.pull_delete .pd_btn::before {
    content: "\e8da";
    font-family: 'feather' !important;
    font-size: 24px !important;
    font-weight: 500;
    font-style: normal;
}

