    ion-content {
        --background: #f3f3f3;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-field.invalid {
        border: 2px solid red;
      }


    .body {
        font-family: 'Poppins', sans-serif;
        background-color: #f7f8fc;
        color: #424242;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {

        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        background-color: #FFFFFF;
        text-align: center;
    }

    .container img {
        max-width: 50%;
        height: auto;
        margin-bottom: 20px;
    }

    h1 {
        font-family: 'Chau Philomene One', sans-serif;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 20px;
        color: #424242;
    }
    .input-container {
        position: relative;
        width: 100%;
    }
    
    .input-field {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #949393;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 14px;
        color: #424242;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        background-color: #f9f9f9;
        text-align: left;
        text-indent: 10px;
    }
    
    .input-field::placeholder {
        color: rgba(66, 66, 66, 0.7);
    }
    
    .input-field:hover {
        border-color: #808080;
    }
    
        .eye-icon {
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #808080;
            z-index: 1000;
        }

    .input-field:focus {
        border-color: #EB018A;
        box-shadow: 0 0 5px rgba(235, 1, 138, 0.5);
        outline: none;
    }

    .error-message {
        color: red;
        font-size: 13px;
        margin-top: 5px;
        font-family: 'Poppins',sans-serif;
        font-weight: 600;
    }

    .button {
        width: 100%;
        padding: 15px;
        margin: 15px 0;
        border: none;
        border-radius: 5px;
        background-color: #EB018A;
        color: white;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 0 10px 1px rgba(235, 1, 138, 0.4);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .button:hover {
        background-color: #D60079;
        box-shadow: 0 0 15px 1px rgba(214, 0, 121, 0.6);
    }


    .link {
        display: block;
        margin-top: 10px;
        color: #9c9b9b;
        font-size: 14px;
        font-family: 'Poppins',sans-serif;
    }

    .link:hover {
        text-decoration: underline;
    }

    .link-information {
        margin-top: 15px;
        display: block;
        color: #9c9b9b;
        font-size: 14px;
        font-family: 'Poppins',sans-serif;
    }
    .link-information strong{
        font-size: 15px;
        font-family: 'Montserrat',sans-serif;
    }

    .link-information strong:hover {
        color: #EB018A;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .social-icon {
        width: 40px;
        height: 40px;
        margin: 0 10px;
        border-radius: 50%;
        transition: transform 0.3s ease;
    }

    .social-icon:hover {
        transform: scale(1.1);
    }


    .divider {
        margin: 15px 0;
        font-size: 14px;
        color: #424242;
        position: relative;
        font-family: 'Poppins',sans-serif;
    }

    .divider::before, .divider::after {
        position: absolute;
        top: 50%;
        width: 40%;
        height: 1px;
        background-color: #B7B7B7;
    }

    .divider::before {
        left: 0;
    }

    .divider::after {
        right: 0;
    }

    .login-link {
        margin-top: 20px;
        font-size: 14px;
        color: #424242;
    }

    .login-link a {
        color: #EB018A;
        text-decoration: none;
    }

    .login-link a:hover {
        text-decoration: underline;
    }
  
    .icon-circle {
        display: inline-block;
        width: 50px;
        height: 50px; 
        border-radius: 50%;
        background-color: #ffffff; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4285F4;
    }
    
    .icon-circle i {
        font-size: 24px; 
        background: linear-gradient(135deg, 
        #EA4335 25%,
        #FBBC05 25%, #FBBC05 50%, 
        #34A853 50%, #34A853 75%, 
        #4285F4 75%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .input-error {
        border: 2px solid red;
    }
    .input-success {
        border: 2px solid rgb(57, 225, 57);
    }
    
    .no-select {
        user-select: none;
    }


    footer {
        font-size: 13px;
        color: #B7B7B7;
        text-align: center;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }

    footer a {
        color: #424242;
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }
    .checkbox-container {
        display: flex;
        align-items: center;
        margin: 15px 0;
    }

    .spinner{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        margin-bottom: 10px;
    }

    .checkbox-container input {
        margin-right: 10px;
    }

    .checkbox-container label {
        color: #424242;
        font-size: 14px;
    }

    .checkbox-container label a {
        color: #010101;
        text-decoration: none;
    }

    .checkbox-container label a:hover {
        text-decoration: underline;
    }