.body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f8fc;
  color: #424242;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  font-size: 13px;
  color: #333;
  background-color: #e7f0fd;
  padding: 10px;
  border-radius: 8px;
  border-left: 4px solid #6c757d;
  margin-bottom: 15px;
  text-align: left;
}

.instruction-steps {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.instruction-steps li {
    display: flex;
    margin-bottom: 8px;
    font-size: 13px;
    color: #6c757d;
}

.instruction-steps li::before {
    content: "✔";
    font-size: 13px;
    color: #D60079;
    margin-right: 8px;
}
.container {
  width: 100%;
  max-width: 320px;
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}
.container img {
  max-width: 120px;
  margin-bottom: 15px;
}
h1 {
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 20px;
  color: #333;
  margin: 0 0 15px;
}
p.instructions {
  font-size: 14px;
  color: #666;
  margin: 0 0 15px;
}
.upload-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.upload-area img {
  max-width: 100%;
  max-height: 300px;
  display: none;
}
.button-container {
  display: flex; /* Alineación horizontal para todos los elementos */
  justify-content: center; /* Alinea elementos en el centro horizontal */
  align-items: center; /* Alinea elementos en el centro vertical */
  gap: 10px; /* Espacio entre los elementos */
}

.button, #file-label {
  flex: 1; /* Todos los elementos ocupan el mismo espacio */
  text-align: center; /* Centra el texto dentro de los elementos */
  padding: 10px; /* Ajusta el relleno para consistencia */
  box-sizing: border-box; /* Incluye padding y borde en el cálculo del tamaño */
  height: 40px; /* Fija la altura de ambos elementos */
  line-height: 20px; /* Alineación de línea consistente */
  display: flex; /* Uso de flexbox para ambos elementos */
  align-items: center; /* Alinea el contenido de los elementos al centro verticalmente */
  justify-content: center; /* Alinea el contenido de los elementos al centro horizontalmente */
  cursor: pointer; /* Indica que ambos elementos son interactivos */
}

@media (max-width: 480px) {
  .button-container {
    flex-direction: row; /* Alinea los elementos horizontalmente en pantallas pequeñas */
  }

  .button, #file-label {
    width: 100%; 
    margin-bottom: 0; /* Asegura que no haya margen inferior */
    height: 30px; /* Asegura que ambos elementos tengan la misma altura */
  }
}
.button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.button.cancel {
  background-color: #B7B7B7;
  color: white;
}
.button.cancel:hover {
  background-color: #A0A0A0;
  box-shadow: 0 0 10px rgba(160, 160, 160, 0.4);
}
.button.accept {
  background-color: #EB018A;
  color: white;
}
.button.accept:hover {
  background-color: #D60079;
  box-shadow: 0 0 10px rgba(214, 0, 121, 0.4);
}
.progress-message {
  font-size: 14px;
  color: #EB018A;
  margin-top: 15px;
  display: none;
}
.error-message {
  font-size: 14px;
  color: #D60079;
  margin-top: 10px;
  display: none;
}

@media (max-width: 480px) {
  .container {
      max-width: 100%;
  }
}

  .Image-container {
    max-width: 100%; 
    max-height: 500px;
    height: auto; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; /* Bordes redondeados */
  }

  footer {
    font-size: 12px;
    color: #B7B7B7;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
}

footer a {
    color: #424242;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

  #file-upload {
    display: none;
  }
  
  #file-label {
    background-color: #D60079;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    border: none;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  #file-label:hover{
    background-color: #EB018A;
  }
  
  #file-name {
    margin-top: 5px;
    font-size: 14px;
    color: #6c757d;
  }

  
  #file-label.processing {
    background-color: #B7B7B7; /* Cambia a gris */
    cursor: not-allowed;
  }
  
  /* Estilo cuando hay un error */
  #file-label.error {
    background-color: #EB018A; /* Vuelve a rosado */
  }