.ic-total-area{
    padding: 15px 15px 15px;
    margin: 0 -15px;
    border-bottom: 1px solid var(--border-color-2);
    &.fixed{
        margin: 0;
        position: fixed;
        top: 60px;
        left: 50%;
        width: 100%;
        max-width: 600px;
        z-index: 8;
        background-color: var(--body-bg);
        transform: translateX(-50%);
    }
    .total-prize{
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 5px;
        > li{
            font-size: 18px;
        }
        .prize{
            font-weight: 700;
        }
    }
    .ic-text{
        display: flex;
        align-items: center;    
        font-size: 15px;
        font-weight: 500;
        color: $success;
        gap: 6px;
        i{
            width: 24px;
            background-color: $success;
            height: 24px;
            border-radius: 50%;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.ic-cart-list{
    border-bottom: 1px solid var(--border-color-2)!important;
    margin: 0 -15px 15px;
    &:last-child{
        border-bottom: 0!important;
        margin-bottom: 15px!important;
    }
}

.info-bx{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--primary);
    border-radius: var(--border-radius-md);
    background-color: #FBFFF3;
    padding: 10px 15px;
    min-height: 50px;
    p{
        margin-bottom: 0;
    }
}

// Checkout Area ==
.view-cart{
    // padding: 15px;
    ul{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 18px 20px;
        border-bottom: 2px dashed var(--light);
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--title);
            span{
                font-size: 12px;
                display: block;
            }
            .status{
                color: var(--text-color);
            }
			.price{
				color: var(--title);
                margin-bottom: 0;
                font-family: var(--font-family-base);
                font-weight: 600;
			}
        }
    }
    .ic-total{
        padding: 18px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > span{
            display: block;
            font-size: 14px;
            color: var(--title);
        }
        .price{
            color: var(--text-color);
            font-weight: 600;
            margin-bottom: 0;
        }
    }
}

// Delivery Address ===
.ic-add-box{
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-md);
    background-color: var(--secondary);
    padding: 12px 15px;
    font-weight: 400;
    font-size: 14px;
    span{
        flex: 1;
        color: #fff;
    }
    i{
        color: var(--primary);
        font-size: 24px;
    }
}
