.profile-area{
    .main-profile{
        margin-bottom: 20px;
        .user-image{
            margin-right: 15px;
            img{
                border-radius: 50%;
            }
        }
        .name{
            font-weight: 400;
            font-size: 16px;
        }
    }
    .content-box{
		ul{
			li{
				text-align: center;
				a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    font-weight: 400;
                    background: var(--bg-white);
                    border: 1px solid #F0F0F0;
                    border-radius: var(--border-radius);
                    text-transform: capitalize;
                    color: var(--title);
                    padding: 15px;
                    line-height: 16px;
                    &.active,
                    &:active,
                    &:hover,
                    &:focus{
                        background-color: var(--secondary);
                        color: var(--theme-text-color);
                    }
                }
			}
		}	
	}
}

// Edit Profile ===
.edit-profile{
    .profile-image{
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: var(--bg-white);
        margin-bottom: 10px;
        padding: 18px 15px;
        border-radius: var(--border-radius-md);
	}
    .edit-content{
        .name{
            font-size: 19px;
            font-weight: 500;
        }
        p{
          font-size: 12px;
          color: #666666;
          margin-bottom: 0;  
        }
    }
	.avatar-upload{
		.avatar-preview{
            width: 95px;
            height: 95px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 50%;	
            border: 2px solid var(--text-color);
			& > #imagePreview{
                display: inline-block;
                width: 85px;
                height: 85px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 50%;	
			}
		}
		.change-btn{
			position: absolute;
            bottom: 0;
            right: 0;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: var(--text-color);
            color: var(--theme-text-color);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            border: 3px solid var(--bg-white);
            i{
                line-height: 1;
                display: block;
            }
		}
	}
}

// Profile > Coupons Screen ===
.ic-offer-coupon{
	display: flex;
    align-items: center;
    background: var(--bg-white);
    padding: 12px 15px;
	margin-bottom: 15px;
    border-radius: var(--border-radius);
	.offer{
		width: 50px;
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 15px;
		padding-right: 15px;
		border-right: 2px dashed var(--border-color);
	}
	h6{
		margin-bottom: 0;
		font-weight: 500;
        font-size: 14px;
	}
	p{
		margin-bottom: 0;
		color: var(--text-light);
        font-size: 10px;
    }
}